@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

img {
  border-style: none;
}

body {
  width: 100%;
  background-color: #ffffff;
}

body a:hover {
  text-decoration: none;
}

/*-------------fonts---------------*/
body {
  font-family: Montserrat,'Helvetica Neue', Arial, sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4, .logo {
  font-size: 15px !important;
}

.navbar a {
  font-size: 13px;
}

.nav-link, .logo {
  font-weight: 400;
}

.nav-link, .logo {
  line-height: 26px;
}

.plant {
  position: relative;
  z-index: 1;
}

.plant .plant-name-price {
  justify-content: space-between;
  width: 100%;
  padding: 17px 22px;
  background-color: rgba(255, 255, 255, 0.9);
}

.plant .plant-name-price p {
  line-height: 35px;
}

.plant .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index: -1;
}

.plant .overlay-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.plant:hover .overlay {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s linear;
}

.navbar .logo {
  font-weight: bold;
  color: #ffffff;
}

.navbar li {
  padding: 6px 0;
}

.navbar li a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.navbar li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f0cc04;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.navbar li a:hover {
  color: #f5d796;
}

.navbar li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a.active:not(.logo) {
  color: #f1d695 !important;
}

.invisible {
  top: -50px;
}

.scrolled {
  background-image: linear-gradient(90deg, #001415 0%, #00323f 35%, #10b1cd 100%);
}

.parallax-window {
  min-height: 100vh;
  background: transparent;
}

.profile-img a {
  position: relative;
}

.profile-img a:before {
  content: "";
  border: 40px solid rgba(78, 130, 151, 0.3);
  box-shadow: 0 0 0 0 black;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 30;
}

@keyframes pulse {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

@font-face {
  font-family: "cute-animal";
  src: url("../../../../public/fonts/cute-animal.ttf");
}

.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #ffffff;
  width: 100%;
  max-width: 880px;
}

.content-center span {
  font-size: 2em;
  font-family: "cute-animal", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(../../../../public/images/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.profile-img img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  transition: all .3s ease-out;
}

.profile-img a:hover img {
  transform: scale(1.06, 1.06);
}

.profile-img a:hover:before {
  animation: none;
}

#social {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

#social .fa {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%;
}

#social .fa:hover {
  opacity: 0.7;
}

#social .fa-facebook {
  background: #3B5998;
}

#social .fa-twitter {
  background: #55ACEE;
}

#social .fa-linkedin {
  background: #007bb5;
}

#social .fa-instagram {
  background: #8a3ab9;
}

#social .fa-pinterest {
  background: #cb2027;
}

#social .fa-github {
  background: #000000;
}

.bubble-ocean {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bubble {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  background: #275b7a;
  background: radial-gradient(circle, #275b7a 0%, white 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#275b7a",endColorstr="#ffffff",GradientType=1);
  bottom: -10px;
  opacity: 0.3;
  animation: bubble 15s ease-in-out infinite, sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 3em;
  }
  100% {
    margin-left: 1em;
  }
}

.bubble--1 {
  width: 15px;
  height: 15px;
  left: 15%;
  bottom: 30px;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  bottom: 30px;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  bottom: 30px;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 45%;
  bottom: 30px;
  animation-delay: 3s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 30px;
  height: 30px;
  left: 90%;
  bottom: 30px;
  animation-delay: 2s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 25%;
  bottom: 30px;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 30px;
  height: 30px;
  left: 38%;
  bottom: 30px;
  animation-delay: 2s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 20px;
  height: 20px;
  left: 20%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 70%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 15s;
  opacity: 0.3;
}

.bubble--12 {
  width: 25px;
  height: 25px;
  left: 95%;
  bottom: 30px;
  animation-duration: 19s;
  opacity: 0.3;
}

.bubble--13 {
  width: 10px;
  height: 10px;
  left: 15%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 10s;
  opacity: 0.3;
}

.bubble--14 {
  width: 9px;
  height: 9px;
  left: 18%;
  bottom: 30px;
  animation-delay: -9s;
  animation-duration: 10s;
  opacity: 0.4;
}

.bubble--15 {
  width: 25px;
  height: 25px;
  left: 65%;
  bottom: 30px;
  animation-delay: -8s;
  animation-duration: 12s;
  opacity: 0.3;
}

.bubble--16 {
  width: 12px;
  height: 12px;
  left: 80%;
  bottom: 30px;
  animation-delay: -1s;
  animation-duration: 8s;
  opacity: 0.3;
}

.footer {
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.footer > * {
  width: 400px;
  margin: 10px;
  text-align: center;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #27B5CE;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 50;
  text-align: center;
  padding-top: 10px;
}

.back-to-top img {
  width: 20px;
  height: 20px;
}

.back-to-top:hover {
  color: #fff;
  background: #1C5B69;
  transition: background 0.2s ease-in-out;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.displaygrid {
  display: grid;
}

.ourplant-container,
.best-sales-container {
  margin: 0 35px 50px;
}

.title2 {
  margin-bottom: 50px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 5% 0.15em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.title2:hover {
  background-size: 5% 100%;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .titlescroll h1 {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav2 {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .best-sales-container {
    margin: 0 100px 50px;
  }
  .plants1 {
    width: 50%;
  }
  .ourplant-container {
    margin: 0 100px 50px;
  }
  .ourplant-plant {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas: "a b" "c d" "e f";
  }
}

@media only screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav2 {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .best-sales-container {
    margin: 0 100px 50px;
  }
  .best-sales-plant1,
  .best-sales-plant2,
  .best-sales-plant3 {
    width: 33.33%;
  }
  .best-sales-plant4 {
    width: 100%;
  }
  .ourplant-container {
    margin: 0 100px 50px;
  }
  .ourplant-plant {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    grid-template-areas: "a a b b" "a a c c" "d e e f" "d e e f";
  }
}

#best-sales {
  transition: all 1s ease;
}
/*# sourceMappingURL=main.css.map */