/*
    |-------------------------------|
    |------- Variables Colors-------|
    |-------------------------------|
    */
/*
    |-------------------------------|
    |----variables images sources---|
    |-------------------------------|
    */
/*
    |-------------------------------|
    |-----variables font family-----|
    |-------------------------------|
    */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Ludicrous-Stencil";
  font-weight: 400;
  src: url("../fonts/Ludicrous-Stencil.ttf");
  font-display: swap;
  font-style: normal;
}

/*
    |-------------------------------|
    |-variable padding for section--|
    |-------------------------------|
    */
/*
    |-------------------------------|
    |----ariables Break-points -----|
    |-------------------------------|
    */
/*
    |-------------------------------|
    |-----variables Font size ------|
    |-------------------------------|
    */
/*
    |-------------------------------|
    |-----variables Font weight-----|
    |-------------------------------|
    */
/*
    |-------------------------------|
    |-----variables line height-----|
    |-------------------------------|
    */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

img {
  border-style: none;
}

*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}

body a:hover {
  text-decoration: none;
}

/*-------------fonts---------------*/
body {
  font-family: Montserrat,'Helvetica Neue', Arial, sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4, .logo {
  font-size: 15px !important;
}

.navbar a {
  font-size: 13px;
}

.nav-link, .logo {
  font-weight: 400;
}

.nav-link, .logo {
  line-height: 26px;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

@font-face {
  font-family: "Ludicrous-Stencil";
  src: url("../fonts/Ludicrous-Stencil.ttf");
}

.navbar {
  width: 100%;
  z-index: 100;
  /*-----------image logo----------*/
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s linear;
}

.navbar a.logo {
  content: url(../images/logoBlue.png);
  width: 150px;
}

.navbar li a {
  position: relative;
  display: block;
  font-family: Lato, sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 800;
}

.navbar li a::after {
  position: absolute;
  content: "";
  top: 80%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1380a1;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}

.navbar li a:hover {
  color: #1380a1;
}

.navbar li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a.active:not(.logo) {
  color: #1380a1;
}

.invisible {
  top: -50px;
}

.collapsehide {
  display: none;
}

.parallax-wrapper {
  background-image: url("../images/bgprofile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.profile-img a {
  position: relative;
}

.profile-img a:before {
  content: "";
  border: 40px solid rgba(78, 130, 151, 0.3);
  box-shadow: 0 0 0 0 black;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 30;
}

@keyframes pulse {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

@font-face {
  font-family: "cute-animal";
  src: url("../fonts/cute-animal.ttf");
}

.content-profile-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #ffffff;
  width: 100%;
  max-width: 880px;
}

.content-profile-center span.name {
  font-size: 2em;
  font-family: "cute-animal", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  color: white;
  /* Clip Background Image */
  background: url("../images/animated-text-fill-blue.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animTitle 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.content-profile-center h3 {
  font-weight: bold;
}

/* Animate Background Image */
@keyframes animTitle {
  100% {
    background-position: 0% 50%;
  }
  0% {
    background-position: 100% 50%;
  }
}

.profile-img img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  transition: all .3s ease-out;
}

.profile-img a:hover img {
  transform: scale(1.06, 1.06);
}

.profile-img a:hover:before {
  animation: none;
}

.twoButtons {
  font-family: "Ludicrous-Stencil",sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 4px;
}

.twoButtons div {
  width: 85px;
  height: 85px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 3s ease-in;
}

.twoButtons div:hover {
  transform: translateY(-100%);
}

.twoButtons div:hover a {
  color: #1380a1;
  opacity: 1;
}

.twoButtons div a, .twoButtons div img {
  text-align: center;
  position: relative;
  width: 80px;
  height: 80px;
  transition: all .3s ease-in;
}

.twoButtons div a {
  display: flex;
  justify-content: center;
  top: 80px;
  color: #1380a1;
  opacity: .6;
  font-weight: bold;
  line-height: 20px;
  z-index: 1;
}

.twoButtons div img {
  top: 15px;
  opacity: 0.6;
  z-index: -1;
}

.welcom .bubble-ocean {
  position: relative;
  width: 80vw;
}

.bubble {
  border-radius: 50%;
  position: absolute;
  background: #275b7a;
  background: radial-gradient(circle, #275b7a 0%, white 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#275b7a",endColorstr="#ffffff",GradientType=1);
  bottom: -10px;
  opacity: 0.3;
  animation: bubble 15s ease-in-out infinite, sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 3em;
  }
  100% {
    margin-left: 1em;
  }
}

.bubble--1 {
  width: 9px;
  height: 9px;
  left: 15%;
  bottom: 30px;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  bottom: 30px;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  bottom: 30px;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 45%;
  bottom: 30px;
  animation-delay: 3s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 10px;
  height: 10px;
  left: 60%;
  bottom: 30px;
  animation-delay: -10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 20px;
  height: 20px;
  left: 90%;
  bottom: 30px;
  animation-delay: 2s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 25%;
  bottom: 30px;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 30px;
  height: 30px;
  left: 38%;
  bottom: 30px;
  animation-delay: 2s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 20px;
  height: 20px;
  left: 20%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 70%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 15s;
  opacity: 0.3;
}

.bubble--12 {
  width: 7px;
  height: 5px;
  left: 95%;
  bottom: 30px;
  animation-duration: 19s;
  opacity: 0.3;
}

.bubble--13 {
  width: 10px;
  height: 10px;
  left: 15%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 10s;
  opacity: 0.3;
}

.bubble--14 {
  width: 9px;
  height: 9px;
  left: 18%;
  bottom: 30px;
  animation-delay: -9s;
  animation-duration: 10s;
  opacity: 0.4;
}

.bubble--15 {
  width: 17px;
  height: 17px;
  left: 65%;
  bottom: 30px;
  animation-delay: -8s;
  animation-duration: 12s;
  opacity: 0.3;
}

.bubble--16 {
  width: 12px;
  height: 12px;
  left: 80%;
  bottom: 30px;
  animation-delay: -1s;
  animation-duration: 8s;
  opacity: 0.3;
}

#apropos img {
  width: 100%;
}

.container-skills {
  width: 100%;
  flex-wrap: wrap;
}

.skills-bar-container {
  font-size: 20px;
  list-style: none;
  margin-top: 30px;
}

.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.skills-bar-container li .progressbar-title {
  color: #302f2f;
  font-size: 15px;
}

.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}

.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}

.skills-bar-container li .bar-container {
  background-color: rgba(19, 128, 161, 0.5);
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  border-radius: 5px;
}

.skills-bar-container li .bar-container .progressbar {
  background-color: #1380a1;
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: progress;
  animation-delay: 0.7s;
}

.skills-bar-container li .bar-container .progressbar#progress-html {
  animation-name: progress-html;
  animation-delay: 0.7s;
}

.skills-bar-container li .bar-container .progressbar#progress-css {
  animation-name: progress-css;
  animation-delay: 1.4s;
}

.skills-bar-container li .bar-container .progressbar#progress-javascript {
  animation-name: progress-javascript;
  animation-delay: 2.1s;
}

.skills-bar-container li .bar-container .progressbar#progress-bootstrap {
  animation-name: progress-bootstrap;
  animation-delay: 2.8s;
}

.skills-bar-container li .bar-container .progressbar#progress-photoshop {
  animation-name: progress-photoshop;
  animation-delay: 3.5s;
}

.skills-bar-container li .bar-container .progressbar#progress-react {
  animation-name: progress-react;
  animation-delay: 4.2s;
}

.skills-bar-container li .bar-container .progressbar#progress-php {
  animation-name: progress-php;
  animation-delay: 4.9s;
}

.skills-bar-container li .bar-container .progressbar#progress-wordpress {
  animation-name: progress-wordpress;
  animation-delay: 5.6s;
}

.skills-bar-container li .bar-container .progressbar#progress-asp {
  animation-name: progress-asp;
  animation-delay: 6.3s;
}

.skills-bar-container li .bar-container .progressbar#progress-sql {
  animation-name: progress-sql;
  animation-delay: 7s;
}

@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-react {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-asp {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-menu {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.5);
}

.portfolio #portfolio-menu li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #75bfd6;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-menu li:hover, .portfolio #portfolio-menu li.filter-active {
  color: #1380a1;
}

.portfolio #portfolio-menu li:last-child {
  margin-right: 0;
}

.filter {
  position: relative;
  overflow: hidden;
}

.filter a {
  text-decoration: none;
  color: #302f2f;
  text-align: center;
}

.filter .cap1 {
  position: absolute;
  width: 100%;
  height: 70%;
  background: rgba(255, 255, 255, 0.8);
  left: 0px;
  top: -100%;
  padding: 10px;
  transition: all .5s;
}

.filter .cap2 {
  position: absolute;
  width: 100%;
  height: 30%;
  background: rgba(19, 128, 161, 0.7);
  left: 0;
  bottom: -100%;
  padding: 20px;
  transition: all .5s;
}

.filter .cap2 a p {
  color: white;
}

.filter:hover .cap1 {
  top: 0px;
}

.filter:hover .cap2 {
  bottom: 0px;
}

.cardbg {
  background-color: #1380a1 !important;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #d5e9f2;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: rgba(19, 128, 161, 0.1);
  position: relative;
  margin-top: 35px;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #67b0d1 !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

.bubble-ocean {
  display: none;
}

main {
  margin: 10px;
}

header, footer {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  main {
    margin: 0px;
  }
  .scrolled {
    height: 60px;
  }
  .bubble-ocean {
    display: block;
  }
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1380a1 #ffffff;
  }
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #1380a1;
    border-radius: 10px;
    border: 3px solid #ffffff;
    transition: all .3s  ease-in;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #75bfd6;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    margin: 0px;
  }
  .scrolled {
    height: 60px;
  }
  .bubble-ocean {
    display: block;
  }
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1380a1 #ffffff;
  }
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #1380a1;
    border-radius: 10px;
    border: 3px solid #ffffff;
    transition: all .3s  ease-in;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #75bfd6;
  }
}

/*--------------------------------------------------------------
# scrolbar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #1380a1;
  color: white;
  transition: all 0.5s ease-in-out;
  z-index: 50;
  text-align: center;
  padding-top: 10px;
}

.back-to-top img {
  width: 20px;
  height: 20px;
}

.back-to-top:hover {
  background: #75bfd6;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.displaygrid {
  display: grid;
}

.title {
  color: #1380a1;
}
/*# sourceMappingURL=main.css.map */