@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

img {
  border-style: none;
}

body {
  width: 100%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: white;
}

/*-------------fonts---------------*/
h1, h2 {
  font-family: "Abril Fatface", "cursive";
}

h3, h4, p, span, a {
  font-family: "Montserrat", sans-serif;
}

h1, li, .nav a {
  color: #ffffff;
}

h2, h3, p, .footer a {
  color: #000000;
}

h1 {
  font-size: 40px;
  width: 60%;
  font-weight: 100;
  line-height: 100%;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 19px;
}

i {
  font-size: 17px;
}

h4, span {
  font-size: 15px;
}

p, li, a {
  font-size: 14px;
}

@media only screen and (min-width: 25px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  i {
    font-size: 17px;
  }
  h4 {
    font-size: 15px;
  }
  p, span, li, a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  i {
    font-size: 18px;
  }
  h4 {
    font-size: 15px;
  }
  p, span, li, a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
  i {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  p, span, li, a {
    font-size: 15px;
  }
}

.plant {
  position: relative;
  z-index: 1;
}

.plant .plant-name-price {
  justify-content: space-between;
  width: 100%;
  padding: 17px 22px;
  background-color: rgba(255, 255, 255, 0.9);
}

.plant .plant-name-price p {
  line-height: 35px;
}

.plant .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index: -1;
}

.plant .overlay-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.plant:hover .overlay {
  width: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 500ms linear;
}

.scrolled {
  background-color: #fc8080;
  transition: background-color 500ms linear;
}

.parallax-window {
  min-height: 100vh;
  background: transparent;
}

.content-profile {
  background: linear-gradient(0deg, rgba(227, 227, 227, 0.2), rgba(21, 66, 25, 0.56));
}

.profile-img a {
  position: relative;
}

.profile-img a:before {
  content: "";
  border: 40px solid rgba(55, 140, 63, 0.6);
  box-shadow: 0 0 0 0 black;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 30;
}

@keyframes pulse {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
}

.profile-img img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  transition: all .3s ease-out;
}

.profile-img a:hover img {
  transform: scale(1.06, 1.06);
}

.profile-img a:hover:before {
  animation: none;
}

.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #FFFFFF;
  width: 100%;
  max-width: 880px;
}

.footer {
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.footer > * {
  width: 400px;
  margin: 10px;
  text-align: center;
}

@media only screen and (min-width: 25px) {
  .hamburger {
    display: block;
  }
  .nav {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .titlescroll h1 {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav2 {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .best-sales-container {
    margin: 0 100px 50px;
  }
  .plants1 {
    width: 50%;
  }
  .ourplant-container {
    margin: 0 100px 50px;
  }
  .ourplant-plant {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas: "a b" "c d" "e f";
  }
}

@media only screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav2 {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .best-sales-container {
    margin: 0 100px 50px;
  }
  .best-sales-plant1,
  .best-sales-plant2,
  .best-sales-plant3 {
    width: 33.33%;
  }
  .best-sales-plant4 {
    width: 100%;
  }
  .ourplant-container {
    margin: 0 100px 50px;
  }
  .ourplant-plant {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    grid-template-areas: "a a b b" "a a c c" "d e e f" "d e e f";
  }
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.displaygrid {
  display: grid;
}

.ourplant-container,
.best-sales-container {
  margin: 0 35px 50px;
}

.title2 {
  margin-bottom: 50px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 5% 0.15em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.title2:hover {
  background-size: 5% 100%;
}

@media only screen and (min-width: 25px) {
  .hamburger {
    display: block;
  }
  .nav {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .titlescroll h1 {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav2 {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .best-sales-container {
    margin: 0 100px 50px;
  }
  .plants1 {
    width: 50%;
  }
  .ourplant-container {
    margin: 0 100px 50px;
  }
  .ourplant-plant {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas: "a b" "c d" "e f";
  }
}

@media only screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav2 {
    display: none;
  }
  .titlescroll {
    margin: -2.92vw  8vw;
  }
  .best-sales-container {
    margin: 0 100px 50px;
  }
  .best-sales-plant1,
  .best-sales-plant2,
  .best-sales-plant3 {
    width: 33.33%;
  }
  .best-sales-plant4 {
    width: 100%;
  }
  .ourplant-container {
    margin: 0 100px 50px;
  }
  .ourplant-plant {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    grid-template-areas: "a a b b" "a a c c" "d e e f" "d e e f";
  }
}

#best-sales {
  transition: all 1s ease;
}
/*# sourceMappingURL=main.css.map */