//bases styles

// //pour scroller lentement dans la page
// html {
//     scroll-behavior: smooth;
//   }

// @media (prefers-reduced-motion: reduce) {
//     html {
//       scroll-behavior: auto;
//     }
//   }

body {
    width: 100%;
    background-color: #ffffff;
    a:hover{
        text-decoration: none ;          
    }
    overflow-y: scroll;
    overflow-x: hidden;
}


