/*-------------fonts---------------*/

//font family
//font for all elements
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
// for two buttons in profile
@font-face {
    font-family: "cute-animal";
    src: url("../fonts/cute-animal.ttf");
}

@font-face {
    font-family: "Ludicrous-Stencil";
    src: url("../fonts/Ludicrous-Stencil.ttf");
}

body,
a:not(.twoButtons a) {
    font-family: 'Montserrat', sans-serif;
}

//font color
//font-size
// h1 {
//     font-size: $extralarge;
// }
// h2 {
//     font-size: $large;
// }
// h3 {
//     font-size: $extramedium;
// }
// h4,
// .logo {
//     font-size: $medium !important;
// }
.navbar a {
    font-size: $extrasmall;
}

.nav-link {
    font-weight: $smallweight;
    line-height: $height4;
}

p:not(.footer p),
.p,
input[placeholder] {
    color: $color-paragraph;
    font-weight: $smallweight;
    line-height: $height5;
    font-size: $medium;
    // font-family: ;
}