@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*-------------fonts---------------*/

//font family
h1,h2 {font-family:  $fontfamily;}
h3,h4,p,span,a {font-family: $fontfamily;}

//font color
.navbar-brand {

}
h1,li,.nav a{

} //white
h2,h3,p,.footer a{
    
} // black

//font others



h2 {
    font-size: $extralarge-phone;
    // width: 60%;
    // font-weight: 100;
    // line-height: 100%;
}
h3 {
    font-size: $large-phone;
}
h4 {
    font-size: $medium-phone;
}

p,a{
    font-size: $lessmedium-phone;
}


//media query
@include for-phone {
    //display nav
   
}
@include for-tablet {
   
}
@include for-desktop {
  
}