#contact {
    .infos p,
    input[placeholder],
    textarea[placeholder] {
        font-size: $lessmedium;
    }
    .fas {
        color: $color-3;
        font-size: $large;
    }
}

form {
    width: 100%;
    height: 100%;
    input.form-control {
        padding-left: 40px;
    }
    .input-icons i {
        position: absolute;
        font-size: 20px;
        margin-top: 8px;
        margin-left: 8px;
        opacity: .8;
    }
    input .far {
        padding: 10px;
        min-width: 40px;
    }
    .error {
        color: #ff5e00;
        font-size: $extrasmall;
    }
    button {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: $color-3;
        color: $color-1;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1.5rem;
        cursor: pointer;
        transition: all .7s;
        &:hover {
            color: $color-2;
        }
    }
}