#contact {
    .infos p,
    input[placeholder],
    textarea[placeholder] {
        font-size: $lessmedium;
    }
}

form {
    width: 100%;
    height: 100%;
    .error {
        color: #ff0000;
        font-size: $extrasmall;
    }
    button {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-image: $color-bgGradient;
        color: $color-1;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1.5rem;
        cursor: pointer;
        transition: all .7s;
        &:hover {
            color: $color-2;
        }
    }
}