.delivery-container {
    width: 100%;
    margin: 60px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #fff;
}

.delivery-block {
    width: 220px;
    height: 130px;
    margin: 20px 45px;
    justify-content: space-between;
    align-items: center;
}

.delivery-block h4 {
    text-align: center;
}

.delivery-icon {
    color: #ADD981;
    font-size: 50px;
}