@import "./header",
"./profile",
"./experience",
"./footer",
"./mediaquery";



/*--------------------------------------------------------------
# scrolbar
--------------------------------------------------------------*/
// /* width */
// ::-webkit-scrollbar {
//   width: 8px;  
//   transition: all 0.3s ease-in;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px $color-profile2; 
//   border-radius: 10px;
  
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background:  $color-profile2; 
//   border-radius: 10px;  
// }
// html::-webkit-scrollbar{
//   width:8px;
//   height:8px;
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $color-profile3; 
// }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $color-profile2 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $color-profile2;
    border-radius: 10px;
    border: 3px solid #ffffff;
    transition:all .3s  ease-in;
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-profile3; 
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: $color-profile2;
    color: $color-profile1;
    transition: all 0.5s ease-in-out;
    z-index: 50;
    text-align: center;
    padding-top: 10px;

  }
  
  .back-to-top img {
    width: 20px;
    height: 20px;
  }
  
  .back-to-top:hover {
    background: $color-profile3;
  }
  

// ------------general parameters in common layouts----------------
//layout flexbox and grid
.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.displaygrid {
    display: grid;
}

.title{
    color: $color-profile2;
}
//generals parametres in section best-sales-container and ourplant-container


  // -------------- media query  -------------------

  @include for-phone {   
  // header -----------------
    //   .hamburger{display: block;}// display nav mobile
    //   .nav{ display: none; }         
    //   .titlescroll{
    //        margin: -2.92vw  8vw;
    //        h1{
    //            margin-top: 60px;
    //        }
    //   } 
  }
  
  @include for-tablet {
  // header---------------------------
    //   .hamburger{display: none;} //no display nav mobile   
    //   .nav{ display: flex; }  
    //   .nav2 {display: none;}
    //   .titlescroll{ margin: -2.92vw  8vw;} 
     
  //section best-sales-container--------------
    //  .best-sales-container {
    //   margin: 0 100px 50px;
    //  }
    //   .plants1 { width: 50%;  }
  // section ourplant-container--------------
    //   .ourplant-container {
    //     //   margin: 0 100px 50px;
    //   }
    //   .ourplant-plant {
    //     //   grid-template-columns: 1fr 1fr;
    //     //   grid-template-rows: 500px 500px 500px;
    //     //   grid-template-areas: "a b" "c d" "e f";
    //   }
  }
  
  @include for-desktop {
  // header---------------------------
    //   .hamburger{display: none;} //no display nav mobile  
    //   .nav{ display: flex; }   
    //   .nav2 {display: none;}         
    //   .titlescroll{ margin: -2.92vw  8vw;}
  
  // section best-sales-container--------------
    //   .best-sales-container {
    //       margin: 0 100px 50px;
    //   }
    // .best-sales-plant1,
    // .best-sales-plant2,
    // .best-sales-plant3 {
    //       width: 33.33%;
    //   }
    //   .best-sales-plant4 {
    //       width: 100%;
    //   }
  // section ourplant-container--------------
//       .ourplant-container {
//           margin: 0 100px 50px;
//       }
//       .ourplant-plant {
//           grid-template-columns: 1fr 1fr 1fr 1fr;
//           grid-template-rows: 500px 500px 500px 500px;
//           grid-template-areas: "a a b b" "a a c c" "d e e f" "d e e f";
//       }
     
  }