
  // -------------- media query for layouts -------------------
  .bubble-ocean{
     display: none;
  }
  @include for-phone {   
  // header -----------------     
      
  }
  
  @include for-tablet {
  // header---------------------------
     .scrolled { 
      height: 60px;
     }
     .bubble-ocean{
      display: block;
   }
  }
  
  @include for-desktop {
  // header---------------------------
     .scrolled { 
       height: 60px;
     }
     .bubble-ocean{
      display: block;
   }
  }
