/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-menu {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #ecf5f9;
    border-radius: 50px;
    padding: 2px 15px;
  }
  
  .portfolio #portfolio-menu li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: $color-profile2;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
 
  .portfolio #portfolio-menu li:hover, .portfolio #portfolio-menu li.filter-active {
    color: $color-profile3;
  }
  
  .portfolio #portfolio-menu li:last-child {
    margin-right: 0;
  }
  
  

.filter
{
    position:relative;
    overflow:hidden;
    a{
      text-decoration: none;
      color: rgb(39, 39, 39);
      text-align: center;
    }
   

        .cap1
    {
        position:absolute;
        width:100%;
        height:70%;
        background:rgba(255, 255, 255, 0.8);
        top:0px;
        left:-100%;
        padding:10px;        
        transition: all .5s;
    }

    .cap2
    {
        position:absolute;
        width:100%;
        height:30%;
        background:rgba($color-profile2, 0.7);
        bottom:0px;
        left:100%;
        padding:10px;
        transition: all .5s;
        a p{
          color: $color-profile1;
        }
      
    }
}

.filter:hover {
    .cap1, .cap2{
        left:0px;
    }
    
}

