.navbar { 
    background-color: rgba(255,255,255,0); // media query
    -webkit-transition:  500ms linear; 
    -moz-transition:  500ms linear; 
    -ms-transition:  500ms linear; 
    // transition: background-color 500ms linear; 
    transition:  500ms linear; 
    height: 80px;
    
}

.scrolled {  
    height: 120px;     
    background-color: $special-color; 
    -webkit-transition:  500ms linear; 
    -moz-transition:  500ms linear; 
    -ms-transition:  500ms linear; 
    // transition: background-color 500ms linear; 
    transition:  500ms linear; 
    
}