/* ===================font family source ==================*/


/* for all elements */

@font-face {
    font-family: "cute-animal";
    src: url("../fonts/Montserrat-Regular");
}


/* for name title  */

@font-face {
    font-family: "Ludicrous-Stencil";
    src: url("../fonts/Ludicrous-Stencil.ttf");
}


/*  two buttons in profile */

@font-face {
    font-family: "cute-animal";
    src: url("../fonts/cute-animal.ttf");
}


/* ===================general parametrage ==================*/

body,
a:not(.twoButtons a) {
    font-family: 'Montserrat', sans-serif;
}

p,
.p,
input[placeholder] {
    color: $color-paragraph;
    font-weight: $smallweight;
    line-height: $height5;
    font-size: $lessmedium;
}