@mixin border-radius($radius) {
    border-radius: $radius;
}


/*for logo background if the text logo actived, if not uncomment this  */

@mixin color-bgLogo {
    background: -webkit-linear-gradient(0deg, $color-2 0%, $color-3 60%, $color-1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(0deg, $color-2 0%, $color-3 600%, $color-1 100%);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin for-phone-tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin for-phone {
    @media only screen and (min-width: $large-phone) {
        @content;
    }
}

@mixin for-tablet {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}

@mixin for-desktop {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}


/*mixin for display flex */

@mixin displayflexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}