    //Variables Colors
    $primary-color:#000000;
    $secondary-color:#ffffff;
    $special-color:#cd3280;
    //Variables font family
    $montserrat:'Montserrat';
    $sans-serif:sans-serif;
    $cursive: 'cursive';
    $abril-fatface: 'Abril Fatface';
    //Variable Padding for section
    $padding-left-right:100px;
    $padding-top:70px;
    $padding-bottom:0px;
    //Variables Break-points    
    $large-phone:768px;
    $tablet:992px;
    $desktop:1200px;
    // $desktop-large:1400px;
    //Variable Font size
    //for phone
    // $font-size-mobile: 30px 18px 16px 14px 13px 12px;
    $extralarge-phone: 40px;
    $large-phone: 25px;
    $medium-phone: 19px;
    $lessmedium-phone: 17px;
    $small-phone: 15px;
    $extrasmall-phone: 14px;
    //for large phone
    $extralarge-largephone: 40px;
    $large-largephone: 30px;
    $medium-largephone: 22px;
    $lessmedium-largephone: 17px;
    $small-largephone: 15px;
    $extrasmall-largephone: 14px;
    //for tablet
    $extralarge-tablet: 50px;
    $large-tablet: 40px;
    $medium-tablet: 25px;
    $lessmedium-tablet: 18px;
    $small-tablet: 15px;
    $extrasmall-tablet: 14px;
    //for desktop
    $extralarge-desktop: 80px;
    $large-desktop: 50px;
    $medium-desktop: 30px;
    $lessmedium-desktop: 20px;
    $small-desktop: 16px;
    $extrasmall-desktop: 15px;