    
    /*
    |-------------------------------|
    |-------theme parametres--------|
    |-------------------------------|
    */
    // pour changer le theme mettre true à celui choisi et false aux reste
    $orangeTheme : false;
    $yellowTheme : false;
    $blueTheme : false;
    $greenTheme : false;
    $grenadeTheme : true;
    //color by default 
    $color-profile2:rgb(19, 128, 161);
    $color-bgNav: linear-gradient(90deg, #001415 0%, rgb(0, 43, 63) 35%, $color-profile2 100%);
    $animated-text-fill-img:"animated-text-fill-blue.png";    

    @if ($orangeTheme) {
        $color-profile2:rgb(228, 128, 34);
        $color-bgNav: linear-gradient(90deg, #001415 0%, rgba(63, 54, 0,1) 35%, $color-profile2 100%);
        $animated-text-fill-img:"animated-text-fill-orange.png";
    } 
    @else if  $yellowTheme {
        $color-profile2:rgb(187, 153, 4);
        $color-bgNav: linear-gradient(90deg, rgb(46, 37, 0) 0%, rgb(109, 89, 1) 35%, $color-profile2 100%);
        $animated-text-fill-img:"animated-text-fill-yellow.png";
    } @else if $blueTheme {
        $color-profile2:rgb(0, 123, 160);
        $color-bgNav: linear-gradient(90deg, rgb(0, 20, 21) 0%, rgb(1, 70, 102) 35%, $color-profile2 100%);
        $animated-text-fill-img:"animated-text-fill-blue.png";
    } @else if $greenTheme{
        $color-profile2:rgb(153, 170, 3);
        $color-bgNav: linear-gradient(90deg, rgb(21, 31, 0) 0%, rgb(66, 94, 1) 35%, $color-profile2 100%);
        $animated-text-fill-img:"animated-text-fill-green.png";
    } @else if $grenadeTheme{
        $color-profile2:rgb(179, 0, 0);
        $color-bgNav: linear-gradient(90deg, rgb(26, 0, 0) 0%, rgb(104, 0, 0) 35%, $color-profile2 100%);
        $animated-text-fill-img:"animated-text-fill-grenade.png";
    }
    
    


    /*
    |-------------------------------|
    |------- Variables Colors-------|
    |-------------------------------|
    */
    $color-titles:#302f2f;
    $color-paragraph:#9c9696;
    $color-profile1:white;
   
    //for logo background
    @mixin color-bgLogo{        
        background: -webkit-linear-gradient(0deg, $color-profile2 0%,  $color-profile1 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background: -moz-linear-gradient(0deg, $color-profile2 0%,  $color-profile1 100%);
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    
    /*
    |-------------------------------|
    |----variables images sources---|
    |-------------------------------|
    */    
    $img-animated-text-fill:"../../../../public/images/"+$animated-text-fill-img;


   /*
    |-------------------------------|
    |-----variables font family-----|
    |-------------------------------|
    */
   
    @font-face {
        font-family: "Ludicrous-Stencil";
        font-weight: 400;
        src: url("../../../../public/fonts/Ludicrous-Stencil.ttf") ;
        font-display: swap;
        font-style: normal;
    }
    
    /*
    |-------------------------------|
    |-variable padding for section--|
    |-------------------------------|
    */
   
    $padding-left-right:100px;
    $padding-top:70px;
    $padding-bottom:0px;
    
   /*
    |-------------------------------|
    |----ariables Break-points -----|
    |-------------------------------|
    */
  
    $large-phone:768px;
    $tablet:992px;
    $desktop:1200px;
   
    /*
    |-------------------------------|
    |-----variables Font size ------|
    |-------------------------------|
    */
     
    $extralarge: 45px;
    $large: 26px;
    $extramedium:22px;
    $medium: 15px;
    $lessmedium: 14px;
    $extrasmall:13px;
    $small:12px;
   
    /*
    |-------------------------------|
    |-----variables Font weight-----|
    |-------------------------------|
    */

    $bigweight: 700;
    $mediumweight:500;
    $smallweight:400;

     /*
    |-------------------------------|
    |-----variables line height-----|
    |-------------------------------|
    */
  
    $height1:39px;
    $height2:35px;
    $height3:31px;
    $height4:26px;
    $height5:23px;
    $height6:21px
    