    //Variables Colors
    $primary-color1:#302f2f;
    $primary-color2:#9c9696;
    $secondary-color:#ffffff;
    $special-color:#013044;
    //Variables font family
    $fontfamily:'Montserrat, Helvetica Neue, Arial, sans-serif';
   
    //Variable Padding for section
    $padding-left-right:100px;
    $padding-top:70px;
    $padding-bottom:0px;
    
    //Variables Break-points   
    $large-phone:768px;
    $tablet:992px;
    $desktop:1200px;
   
    
    //Variables Font size       
    $extralarge-large-phone: 36px;
    $large-large-phone: 26px;
    $extramedium-large-phone:22px;
    $medium-large-phone: 15px;
    $lessmedium-large-phone: 14px;
    $extrasmall-large-phone:13px;
    $small-large-phone:12px;
   
    //Variables font weight
    $bigweight: 700;
    $mediumweight:500;
    $smallweight:400;

    //Variables line height
    $weight1:39px;
    $weight2:35px;
    $weight3:31px;
    $weight4:26px;
    $weight5:23px;
    $weight6:21px
    