.plant{  
    //images
    position: relative;
    z-index: 1;
    .plant-name-price{
        justify-content: space-between;
        width: 100%;
        padding: 17px 22px;
        background-color: rgba(255, 255, 255, 0.9);   
        p{
            line-height: 35px;
        } 
    }
    //images animation
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9); 
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        z-index: -1;
      }  
    .overlay-text {
        color: rgb(0, 0, 0);
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}
.plant:hover{
    .overlay{
        width: 100%;
    }
}